
div#logo {
    border-right: none !important;
}
#primary-menu > ul{
    border-right: none !important;
}

.button.button-rounded{
    border-radius: 45px;
}
#primary-menu ul li > a{
    color: #fff;
}
.not-dark #primary-menu ul li > a{
    color: #444;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400 !important;
    text-transform: inherit !important;
}
.slider-caption h2 {
    font-size: 50px;
    margin-bottom: 15px;
}
.slider-caption h3{
    margin-bottom: 15px;
}
#header.transparent-header.full-header #header-wrap {
     border-bottom: 1px solid transparent;
}

.about-bg{
    background: #F7F4F2;
    padding-top: 60px;
}
#about-us .featured img{
    max-height: 214px;
}
#about-us h2{
    font-size: 40px;
    color: #307272;
}
#about-us p{
    font-size: 18px;
}

.button.buton-blue-border{
    border-color: #449EA5;
    color: #449EA5;
}

#our-story p {
    color: #fff;
    font-size: 18px;
}
#our-story h2{
    color: #fff;
    font-size: 45px;
}
#our-story .heading-block:after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 100%;
    border-top: 4px solid #fff;
}

#our-model {
    background: #F7F4F2;
}

#our-model p{
    color: #444;
    font-size: 18px;
    margin-bottom: 17px;
}
#our-model h2{
    color: #449EA5;
    font-size: 45px;
}
#our-model .heading-block:after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 100%;
    border-top: 4px solid #444;
}
#our-model .heading-block{
    margin-bottom: 25px;
}
#our-story .heading-block{
    margin-bottom: 25px;
}
#our-model h3{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700 !important;
    color: #449EA5;
    margin-bottom: 15px;
}
.img-full{
    width: 100%;
}
.no-right-padding{
    padding-right: 0;
}

.service-box{
    padding: 30px;
    background: #F7F4F2;
    text-align: center;
    min-height: 355px;
}
.service-box.blue{
    background: #77C9D4;
}
.service-box img{
    max-height: 90px;
    width: auto;
}
.service-box h2{
    font-size: 25px;
    margin-bottom: 15px;
}
.service-box p{
    font-size: 18px;
}
#services .col-md-4{
    margin-bottom: 30px;
}
.service-box:not(.blue) a{
    padding-bottom: 5px;
    border-bottom: 1px solid #307272;
    color: #307272 !important;
    font-size: 19px;
}
.service-box.blue{
    color: #fff;
}
.service-box.blue h2{
    color: #fff;
    margin-top: 13%;
}
.margin-bottom-30{
    margin-bottom: 30px;
}


.insurance, .pricing{
    color: #fff;
    font-size: 18px;
}
.insurance>div, .pricing>div{
    min-height: 350px;
}
.insurance h2, .pricing h2{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}
.pricing a{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.care-plan{
    font-size: 18px;
}
.care-plan h2{
    font-size: 35px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #307272;
    color: #307272;
}

#team{
    padding-top: 100px;
    padding-bottom: 90px;
    background: #F7F4F2;
}

#team .section-title{
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 3px solid #307272;
    font-size: 40px;
    color: #307272;
    margin-top: 20px;
}
.rating img{
    max-width: 100px;
    height: auto;
}
.team-container h3, .team-container h3, .team-container h4, .team-container h5{
    margin-bottom: 10px;
}
.team-container p{
    margin-bottom: 10px;
}
.team-container h5{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #307272;
    font-weight: 500 !important;
}
.team-container strong{
    color: #307272;
    font-size: 17px;
    margin-right: 5px;
    font-weight: 500 !important;
    font-family: 'Lato', sans-serif;
}

.team-container h3{
    color: #307272;
    margin-bottom: 0;
}
.team-container h4{
    font-family: 'Lato', sans-serif;
}
.rating h5{
    margin-bottom: 0;
}
.rating{
    margin-bottom: 10px;
}

.team-details{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 300ms;
}
.expanded .team-details{
    max-height: 1000000px;
    opacity: 1;
    visibility: visible;
}
.team-container{
    margin-bottom: 30px;
}
.expand-details{
    background: none;
    border: none;
    outline: none !important;
    position: absolute;
    right: 15px;
}

#contact-us{
    font-size: 18px;
}
#contact-us p{
    margin-bottom: 26px;
}
#contact-us h2{
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #307272;
    color: #307272;
    margin-bottom: 20px;
}
.contact-form{
    color: #fff;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.contact-form .form-control{
    height: 70px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
}
.contact-form textarea.form-control{
    height: 183px;
}
.contact-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.contact-form .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.contact-form .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.contact-form .form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.contact-form button{
    display: block !important;
    width: 100%;
    text-align: center;
    background: #449EA5;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: all ease-in-out 300ms;
}
.contact-form button:hover{
    background: #444;
}

.contact-form h2{
    color: #fff !important;
    font-size: 32px !important;
    border-color: #fff !important;
}

.welcome-image{
    position: relative;
}
.welcome-image h2{
    position: absolute;
    top: 30px;
    left: 30px !important;
    font-size: 45px;
    line-height: 1.3 !important;
    color: #fff !important;
}
.welcome-image h2 span{
    color: #77C9D4 !important;
}

.career-box{
    font-size: 18px;
    min-height: 699px;
}
.career-box h2{
    padding-bottom: 10px;
    border-bottom: 2px solid #307272;
    color: #307272;
    margin-bottom: 25px;
    font-size: 35px;
}

.glance{
    background: #77C9D4;
    padding: 30px;
    font-size: 18px;
    color: #fff;
}
.glance h2{
    color: #fff;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
}
.glance strong{
    font-weight: 500 !important;
    margin-right: 5px;
}
.pos-relative{
    position: relative;
}

.news{
    background: #E6AEA3;
}
.news h2{
    color: #fff;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    margin-bottom: 35px;
}
.news-box{
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
}
.news-box h3{
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 0px;
}
.news-box p{
    margin-bottom: 0;
}
.review{
    background: #F7F4F2;
}
.review h2{
    color: #307272;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #307272;
    margin-bottom: 35px;
    text-align: center;
}

.client-review{
    text-align: center;
    font-size: 22px;
}
.open-quote{
    font-size: 100px;
    color: #307272;
    line-height: 0;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    padding: 44px 0;
}
.client-review p{
    color: #444;
}
.client-review h3{
    font-size: 25px !important;
    color: #307272;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.client-review h4{
    font-size: 20px !important;
    color: #307272;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}
.open-quote span{
    position: relative;
    top: 25px;
}
#client-slider .owl-dots{
    display: none;
}


footer{
    min-height: 700px;
    padding-top: 70px;
    padding-bottom: 0px;
    background: url("images/orchid-content/footer/footer-image.png") no-repeat top;
    background-size: cover;
    color: #fff;
}

footer h2{
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 2px solid #fff;
    font-size: 45px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.press-box{
    text-align: center;
    color: #fff;
    font-size: 21px;
}
.press-box h3{
    margin-bottom: 0;
    font-size: 19px;
    color: #307272;
    font-family: 'Lato', sans-serif;
}
.press-box h4{
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}
.press-box p{
    margin-bottom: 15px;
    font-family: "Libre Baskerville",sans-serif;
}
.quot-open{
    font-family: "Libre Baskerville",sans-serif;
    line-height: 0;
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.quot-open>span{
    position: relative;
    top: 30px
}
.footer-links{
    margin-top: 25px;
}
.footer-links a{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
}
.copyright{
    padding-top: 35px;
}

.footer-content{
    font-size: 17px;
    color: #fff;
}
.newsletter-box h4{
    color: #fff;
    margin-bottom: 15px;
}

.newsletter-box .form-control{
    height: 70px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
}
.newsletter-box textarea.form-control{
    height: 183px;
}
.newsletter-box .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.newsletter-box .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.newsletter-box .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.newsletter-box .form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.newsletter-box button{
    border-radius: 12px;
    background: #77C9D4;
    border: none;
    padding: 15px;
    height: 70px;
    display: block;
    width: 100%;
}
.newsletter-box button:hover{
    background: #444;
}

.top-bar{
    text-align: right;
    position: relative;
    font-size: 12px;
    color: #fff;
}
.top-bar a{
    color: #fff;
}
.top-bar span{
    margin-left: 8px;
    margin-right: 8px;
}
.top-bar>div{
    position: absolute;
    top: 0;
    width: 100%;
    right: 45px;
    padding-top: 5px;
    z-index: 99;
}
.sticky-header .top-bar{
    display: none;
}

li.nav-button div {
    background: #77C9D4;
    padding: 5px 15px;
    border-radius: 15px;
}
.nav-button a {
    position: relative;
    margin-top: -10px;
    top: 4px;
}

@media (max-width: 767px){
    .xs-no-padding-bottom{
        padding-bottom: 0;
    }

}
@media (min-width: 768px){
    .push-30{
        position: relative;
        left: 30px
    }
    .pull-15{
        position: relative;
        left: -15px;
    }
    .glance .pos-relative img{
        position: absolute;
        bottom: -50px;
    }

}
@media (max-width: 991px){
    body #primary-menu ul li > a{
        color: #444 !important;
    }
}
@media (min-width: 992px){
    .glance .pos-relative img{
        position: absolute;
        bottom: -50px;
    }
}
@media (min-width: 992px) and (max-width: 1280px){
    #primary-menu ul li > a{
        font-size: 10px;
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 1200px) and (max-width: 1280px){
    #primary-menu ul li > a{
        font-size: 12px;
    }
}